{% extends "base.html" %} {% block content %}
<div class="home-bg">
  <h1>Welcome</h1>
  <div class="home-options">
    <div class="home-option">
      Shop
    </div>

    <div class="home-option">
      Login
    </div>
  </div>
  <p>One stop shop for skincare and bodybutter healthy stuff</p>
</div>
<div class="products-carousel"></div>
<div class="home-about">
  <div class="benefits">
    <div class="benefits-image"></div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam molestiae
      nesciunt, cupiditate doloremque porro perferendis iure mollitia obcaecati
      ipsam voluptate quia unde quibusdam sit voluptas libero debitis
      perspiciatis earum accusamus minus! Esse voluptas, adipisci quod, non
      labore aliquid ratione similique cumque sunt, alias molestiae illo
      reiciendis suscipit sequi laudantium commodi.
    </div>
  </div>
  <div class="home-about-us">
    <div class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum libero
      suscipit non mollitia, ipsa accusantium amet minima harum laboriosam magni
      esse nisi recusandae optio architecto dolorum. Laudantium est aliquam in
      saepe odit assumenda, deserunt, illum delectus mollitia, minima voluptate
      ipsam. Ad et alias commodi illum officiis magni eius ex! Ipsa!
    </div>
    <div class="about-us-image"></div>
  </div>
</div>
{% endblock %}
